* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}
.text-white {
  color: #fff;
  font-weight: 500;
}
.text-red {
  color: #e60000;
  font-weight: 500;
}
.text-center {
  text-align: center;
}
.container {
  margin: 5px;
}
.header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 16px;
  background: #092c74;
  box-shadow: -50vw 0 0 0 #092c74, 50vw 0 0 0 #092c74;
  color: #fff;
}
.global-data {
  display: flex;
}
.info-box {
  background-color: #333;
  flex: 0.25;
  border: 1px solid #363636;
  padding: 10px 20px;
  text-align: center;
  margin: 3px;
}
.info-box .text-white {
  font-size: 30px;
}
.info-box .text-red {
  font-size: 50px;
}
.details {
  display: flex;
}
.states-cases {
  flex: 0.25;
  background-color: #333;
  margin: 3px;
}
.states-cases .header-title {
  padding: 10px 0;
}
.states-cases .states-list {
  overflow-y: scroll;
  height: 700px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}
.states-cases .states-list .state-status {
  padding: 5px 0 5px 5px;
  cursor: pointer;
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
}
.states-cases .states-list .numbers {
  font-size: 20px;
  margin-right: 10px;
}
.map {
  flex: 0.5;
  overflow: hidden;
  margin: 3px;
}
.map .leaflet-container {
  height: 100%;
}
.country {
  flex: 0.5;
  background-color: #333;
  margin: 4px;
}
.flag {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.flag img {
  display: block;
  max-width: 100%;
  height: 200px;
}
.country-name {
  margin-bottom: 30px;
}
input[type="text"] {
  width: 100%;
  padding: 5px;
}
